modules = ["web"]

[agent]
expertMode = true

[nix]
packages = ["jekyll"]

[[ports]]
localPort = 4000
externalPort = 80
exposeLocalhost = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
author = "agent"
mode = "sequential"
name = "Project"

[[workflows.workflow.tasks]]
args = "jekyll serve"
task = "shell.exec"
