<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
    <link href="/icon.png" rel="icon" />
    {% for i in site.styles %}
    <link href="{{ i }}" rel="stylesheet" />
    {% endfor %}
    {% for i in page.styles %}
    <link href="{{ i }}" rel="stylesheet" />
    {% endfor %}
</head>

<body>
    <main>{{ content }}</main>
    {% for i in site.scripts %}
    <script src="{{ i }}"></script>
    {% endfor %}
    {% for i in page.scripts %}
    <script src="{{ i }}"></script>
    {% endfor %}
</body>

</html>
